@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  border-radius: 16.117px;
  background: #fdc7c2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.128px;
  color: #000;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  box-shadow: -4px 5px 0px black;
}
